@model JobVM
<div class="container-fluid pt-4 px-0">
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4 fw-bold text-primary">Detail Job</h3>
                <form method="post" enctype="multipart/form-data">
                    <input asp-for="@Model.Job.Id" type="hidden">
                    <div class="form-floating mb-3">
                        <input readonly asp-for="@Model.Job.Title" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="@Model.Job.Title" for="floatingInput"></label>
                        <span asp-validation-for="@Model.Job.Title" class="text-danger m-2"></span>
                    </div>

                    <div class=" mb-3">
                        <label asp-for="@Model.Job.Description" class="ms-2 text-muted"></label>
                        <textarea disabled asp-for="@Model.Job.Description" class="form-control" id="floatingInputDescription" placeholder=""></textarea>
                        <span asp-validation-for="@Model.Job.Description" class="text-danger m-2"></span>
                    </div>

                    <div class=" mb-3">
                        <label asp-for="@Model.Job.Requirements"  class="ms-2 text-muted"></label>
                        <textarea disabled asp-for="@Model.Job.Requirements" class="form-control" id="floatingInputDescription" placeholder=""></textarea>
                        <span asp-validation-for="@Model.Job.Requirements" class="text-danger m-2"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="@Model.Job.Benefits" for="floatingInput" class="ms-2 text-muted"></label>
                        <textarea readonly asp-for="@Model.Job.Benefits" type="text" class="form-control" id="floatingInput" placeholder=""></textarea>    
                        <span asp-validation-for="@Model.Job.Benefits" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input readonly asp-for="@Model.Job.Salary" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="@Model.Job.Salary" for="floatingInput"></label>
                        <span asp-validation-for="@Model.Job.Salary" class="text-danger m-2"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select disabled asp-for="@Model.Job.EmployerId" asp-items="@Model.EmployerList" class="form-control">
                            <option disabled selected>--Select Employer--</option>
                        </select>
                        <label asp-for="@Model.Job.EmployerId"></label>
                        <span asp-validation-for="@Model.Job.EmployerId" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select disabled asp-for="@Model.Job.JobLevelId" asp-items="@Model.JobLevelList" class="form-control">
                            <option disabled selected>--Select Employer--</option>
                        </select>
                        <label asp-for="@Model.Job.JobLevelId"></label>
                        <span asp-validation-for="@Model.Job.JobLevelId" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select disabled asp-for="@Model.Job.JobTypeId" asp-items="@Model.JobTypeList" class="form-control">
                            <option disabled selected>--Select Employer--</option>
                        </select>
                        <label asp-for="@Model.Job.JobTypeId"></label>
                        <span asp-validation-for="@Model.Job.JobTypeId" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input readonly asp-for="@Model.Job.Location" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="@Model.Job.Location" for="floatingInput"></label>
                        <span asp-validation-for="@Model.Job.Location" class="text-danger m-2"></span>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input readonly asp-for="@Model.Job.Create" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="@Model.Job.Create" for="floatingInput"></label>
                        <span asp-validation-for="@Model.Job.Create" class="text-danger m-2"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input readonly asp-for="@Model.Job.Update" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="@Model.Job.Update" for="floatingInput"></label>
                        <span asp-validation-for="@Model.Job.Update" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input readonly asp-for="@Model.Job.Expired" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="@Model.Job.Expired" for="floatingInput"></label>
                        <span asp-validation-for="@Model.Job.Expired" class="text-danger m-2"></span>
                    </div>
                    <a asp-area="Admin" asp-controller="Job" asp-action="Index" class="btn btn-danger">Back To List</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [

                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons',  'lists', 'table', 'visualblocks', 'wordcount',

                'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent |',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            readonly: true,
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


